astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
Django==2.1.5
django-oidc-provider==0.7.0
future==0.18.2
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycryptodomex==3.9.8
pyjwkest==1.4.2
pylint==2.5.3
pytz==2020.1
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
django-sslserver